<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>OptimizedHTML 4</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <!-- Template Basic Images End -->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#000">
    <!-- Custom Browsers Color End -->

    <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top__wrap">
                    <a href="/" class="header-top__logo" title="МКУ «Октябрьская сельская централизованная клубная система» Копейского городского округа"></a>
                    <div class="header-top__text">МКУ «Октябрьская сельская централизованная клубная система»<br>Копейского городского округа</div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="page">
            <div class="main-menu">
                <ul class="main-menu__wrap">
                    <li class="main-menu__item"><a href="" title="Главная">Главная</a></li>
                    <li class="main-menu__item"><a href="" title="Новости">Новости</a></li>
                    <li class="main-menu__item"><a href="" title="Афиша">Афиша</a></li>
                    <li class="main-menu__item"><a href="" title="О нас">О нас</a></li>
                    <li class="main-menu__item"><a href="" title="Отзывы">Отзывы</a></li>
                    <li class="main-menu__item"><a href="" title="Творческие коллективы">Творческие коллективы</a></li>
                    <li class="main-menu__item"><a href="" title="Услуги">Услуги</a></li>
                    <li class="main-menu__item"><a href="" title="Фотогалерея">Фотогалерея</a></li>
                    <li class="main-menu__item"><a href="" title="Контакты">Контакты</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="side-menu">
                        <ul class="side-menu__wrap">
                            <li class="side-menu__item"><a href="" title="История">История</a></li>
                            <li class="side-menu__item"><a href="" title="Структура учреждения">Структура учреждения</a></li>
                            <li class="side-menu__item"><a href="" title="Работники ДК">Работники ДК</a></li>
                            <li class="side-menu__item"><a href="" title="Наши достижения">Наши достижения</a></li>
                            <li class="side-menu__item"><a href="" title="Учредительные документы">Учредительные документы</a></li>
                            <li class="side-menu__item"><a href="" title="Вопрос-ответ">Вопрос-ответ</a></li>
                            <li class="side-menu__item"><a href="" title="Структура учреждения">Расписание занятий</a></li>
                            <li class="side-menu__item"><a href="" title="Структура учреждения">Анкета для посетителей дворца</a></li>
                        </ul>
                    </div>
                    <div class="banner">
                        <ul class="banner__wrap">
                            <li class="banner__item banner__mkcho"><a href="" title="Министерство культуры Челябинской области">Министерство культуры Челябинской области</a></li>
                            <li class="banner__item banner__akgo"><a href="" title="Администрация Копейского городского округа Челябинской области">Администрация Копейского городского округа Челябинской области</a></li>
                            <li class="banner__item banner__uk"><a href="" title="Управление культуры администрации Копейского городского округа Челябинской области">Управление культуры администрации Копейского городского округа Челябинской области</a></li>
                            <li class="banner__item banner__bgov"><a href="" title="Официальный сайт для размещения информации о государственных учреждениях">Официальный сайт для размещения информации о государственных учреждениях</a></li>
                            <li class="banner__item banner__ais"><a href="" title="АИС «Единое информационное пространство в сфере культуры»">АИС «Единое информационное пространство в сфере культуры»</a></li>
                        </ul>
                    </div>
                    ssdf
                </div>
                <div class="col-9">
                    Контент
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">

        </div>
    </footer>

    <script src="js/scripts.min.js"></script>
</body>
</html>
