@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.header {
    background-image: url('../img/header/bg.png');
    background-position: center;
    height: 500px;
    color: #ffffff;
    &-top {
        background-color: #3c4b8c;
        padding: 12px 15px;
        &__wrap {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            align-items: center;
        }
        &__logo {
            background-image: url('../img/logo.png');
            display: block;
            height: 71px;
            width: 71px;
        }
        &__text {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            margin-left: 12px;
        }
    }
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

@import "media"; // Always at the end
