@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.header {
    background-image: url('../img/header/bg.png');
    background-position: center;
    height: 500px;
    color: #ffffff;
    &-top {
        background-color: #3c4b8c;
        padding: 12px 15px;
        &__wrap {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            align-items: center;
        }
        &__logo {
            background-image: url('../img/logo.png');
            display: block;
            height: 71px;
            width: 71px;
        }
        &__text {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            margin-left: 12px;
        }
    }
}

.page {
    margin-top: -60px;
    box-shadow: 0px 0px 65px 0px rgba(44, 44, 44, 0.35);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .main-menu {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #ffffff;
        background-color: #3c4b8c;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        &__wrap {
            margin-bottom: 30px;
            min-height: 60px;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            align-items: center;
        }
        &__item {
            list-style: none;
            line-height: 16px;
            align-items: center;
            padding: 0 18px;
        }
        a {
            color: #ffffff;
            text-decoration: none;
            border-bottom: 2px solid #b0b4cb;
            &:hover {
                border-bottom: 2px solid transparent;
            }
        }
    }
    .side-menu {
        margin-bottom: 30px;
        padding: 20px 20px 20px 15px;
        color: #ffffff;
        background-color: #4690cf;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0px 7px 0px 0px #e0e0e0;
        &__wrap {
            margin: 0px;
            padding: 0;
        }
        &__item {
            list-style: none;
            padding: 10px 0;
            line-height: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 0px;
            height: 100%;
            width: 15px;
            left: -15px;
            background-color: #4690cf;
        }
        a {
            color: #ffffff;
            text-decoration: none;
            border-bottom: 2px solid #bdd3eb;
            &:hover {
                border-bottom: 2px solid transparent;
            }
        }
    }

    .banner {
        &__wrap {
            padding: 0;
        }
        &__item {
            position: relative;
            margin-bottom: 1px;
            list-style: none;
            background-color: #3c4b8c;
            background-repeat: no-repeat;
            color: #ffffff;
            min-height: 70px;
            font-size: 15px;
            line-height: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover {
                background-color: #4690cf;
            }
            &:before {
                content: '';
                position: absolute;
                display: block;
                top: 0px;
                height: 100%;
                width: 15px;
                left: -15px;
                background-color: #3c4b8c;
            }
            &:hover {
                background-color: #4690cf;
                &:before {
                    background-color: #4690cf;
                }
            }
            a {
                color: #ffffff;
                text-decoration: none;
                padding: 0px 15px;
            }
        }
        &__mkcho {
            background-image: url('../img/banner/banner-1.png');
            background-position: top 11px right 8px;
        }
        &__akgo {
            background-image: url('../img/banner/banner-2.png');
            background-position: top 15px right 10px;
        }
        &__uk {
            background-image: url('../img/banner/banner-3.png');
            background-position: top 13px right 0px;
        }
        &__bgov {
            background-image: url('../img/banner/banner-4.png');
            background-position: top 14px right -11px;
        }
        &__ais {
            background-image: url('../img/banner/banner-5.png');
            background-position: top 9px right -6px;
        }
    }
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

@import "media"; // Always at the end
